:root {
  --heading-bg-color: #a2a9b1;
  --heading-border-color: black;

  --textbox-bg-color: white;
  --textbox-text-color: black;

  --button-enabled-bg-color: #e8f2fe;
  --button-enabled-text-color: black;
  --button-enabled-border-color: black;
  
  --button-hover-bg-color: #d0d9e4;
  --button-hover-text-color: black;
  --button-hover-border-color: black;

  --button-disabled-bg-color: #b9c1cb;
  --button-disabled-text-color: #8b9198;
  --button-disabled-border-color: #8b9198;

}

.full_editor{
    position: relative !important;
    margin: auto;
    width:94%;
    display: inline-block;
}

.editor_toolbar_combo{
    border: 1px solid var(--heading-border-color);    
}

.button{
    display: inline-block !important;
    height: 20px ;
    padding: 0 10px ;
    color: var(--button-enabled-text-color);
    background-color: var(--button-enabled-bg-color);
    text-align: center ;
    font-size: 11px ;
    font-weight: 600 ;
    line-height: 0px ;
    letter-spacing: .1rem ;
    text-transform: uppercase ;
    text-decoration: none ;
    white-space: nowrap ;
    border-radius: 20px ;
    border: 1px solid var(--button-enabled-border-color) ;
    margin-left: 2px ;
    margin-bottom: 4px ;
    margin-top: 6px ;
    margin-right: 2px ;
    cursor: pointer;
    box-sizing: border-box ;
    outline: 0; 
}

.button:hover{
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-bg-color);
    border-color: var(--button-hover-border-color);
    outline: 0; 
}

.button:disabled{
    color: var(--button-disabled-text-color) !important;
    background-color: var(--button-disabled-bg-color) !important;
    border-color: var(--button-disabled-border-color) !important;
    outline: 0; 
}

.typeInfoBox{
    position: relative !important;
    margin: auto;
    padding:5px;
    /*width: 80%;*/
    background-color:var(--textbox-bg-color);
    /*height:24px;*/
    padding-left: 10px;
    border: 1px solid var(--heading-border-color);
    border-bottom: 0px;
}

.varList{
    margin-bottom: 0px;
}

.varListItem{
    margin-left: 10px;
}

.editor{
    position: relative !important;
    margin: auto;
}
    
.toolbar{
    position: relative !important;
    margin: auto;
    background-color: var(--heading-bg-color);
    padding-left:10px;
    padding-bottom:2px;
    border-bottom: 1px solid var(--heading-border-color);
}

.terminalIO{
    margin-bottom: 10px !important;
    padding: 4px !important;
    height: 26px !important;
    border-radius: 5px !important;
    border-width:1px !important;
    margin-right: 5px !important;
    color:#000 !important;
}

.terminalIO:enabled{
    border-color:#d0d9e4 !important;
}

.terminalIO:focus{
    border-color: #74797f !important;
    background-color:#e8f2fe !important;
}

.terminalIO:disabled{
    border-color: #2e3032 !important;
    background-color: #d0d9e4 !important;
}

.down{
    float:right;
    margin-right: 10px;
}
.reset{
    float:right;
    /* margin-right: 10px; */
}

.terminal{
    position: relative !important;
    margin: auto;
    margin-top: 20px;
    /*width: 80%;*/
}

.runningWindow{
    border-left:0px;
    width:45%;
}

.window{
    position: relative !important;
    margin: auto;
    margin-top: 10px;
    padding-left: 10px;
    border:1pt solid var(--heading-border-color);
    border-bottom: 0pt;
    background-color: var(--heading-bg-color);
    color: black;  
    width: 45%;
    float: left;
    margin-bottom: 40px;
}

.output{
    position: relative !important;
    margin: auto;
    background-color: var(--textbox-bg-color);
    padding-left: 10px;
    border:1pt solid var(--heading-border-color);
    border-left: 0pt;
    border-right: 0pt;
    color: var(--textbox-text-color);
    height:200px;
    margin-left: -10px;
    font-family: "courier new";
    overflow:scroll;

    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.form{
    display: inline-block;
}

hr {
    border-color:#bbb;
}