:root {
  --heading-bg-color: #a2a9b1;
  --heading-border-color: black;

  --textbox-bg-color: white;
  --textbox-text-color: black;

  --button-enabled-bg-color: #e8f2fe;
  --button-enabled-text-color: black;
  --button-enabled-border-color: black;
  
  --button-hover-bg-color: #d0d9e4;
  --button-hover-text-color: black;
  --button-hover-border-color: black;

  --button-disabled-bg-color: #b9c1cb;
  --button-disabled-text-color: #8b9198;
  --button-disabled-border-color: #8b9198;

}

#title_div{
    background-color:#f8fbfe;
    padding-top:20px;
    padding-bottom: 10px;
    padding-left: 10%;
}

#course_title{
    font-weight: 900;
    font-size: 30pt;
}

#course_info{
    font-weight: 500;
    font-size: 20pt;
}

.navbar{
    list-style-type: none;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    background-color: #f8fbfe;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: var(--button-enabled-bg-color);
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
}

.navbar-item {
    float: left;
    border-right: 1px solid #555;
}

.navbar-item:first-child {
    border-left: 1px solid #555;
}

.navbar-button {
    display: block;
    background-color: var(--button-enabled-bg-color);
    /*background-color:#333;*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline:0;
    border-width: 0px;
}

/* Change the link color to #111 (black) on hover */
.navbar-button:hover{
    background-color: #111;
    background-color: var(--button-hover-bg-color);
    cursor:pointer;
}

/* from https://css-tricks.com/hash-tag-links-padding/ */
.container.body::before { 
  display: block; 
  content: " "; 
  margin-top: -7rem; 
  height: 7rem; 
  visibility: hidden; 
  pointer-events: none;
}