.sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8fbfe;
    z-index: 2;
    top: 0;
    width: 30ch;
    display: inline-block;
    float:left;
    height:100%;
    border-right: 3px solid #333;
    position: sticky;
    position: -webkit-sticky;
}

.sidebar-title {
    color:black;
    padding-left: 14px;
    margin: 20px 0px 20px 0px;
}

#workbook-title{
    font-size: 20pt;
    font-weight: bold;
}

#workbook-duedate{
    font-size: 16pt;
}

.sidebar-item {
    /*float: left;*/
    border-top: 1px solid #555;
}

.sidebar-item:last-of-type{
    border-bottom: 1px solid #555;
}

.sidebar-button {
    display: inline-block;
    background-color: var(--button-enabled-bg-color);
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    outline:0;
    border-width: 0px;
    width:100%;
}

.sidebar-button:hover{
    background-color: var(--button-hover-bg-color);
    cursor:pointer;
}

.module-name{
    font-weight: 900;
}

#content{
    display: inline-block;
    margin: 10px 30px;
    width:60%;
    margin-top: 20px;
}

#submitted_reminder{
    width: 100%;
}

#logout{
    width:100%;
    text-align: center;
}

#logoutButton{

    font-size: 12pt;
    margin-top: 3em;
    height: 3em;
    width: 50%;
}


/* from https://css-tricks.com/hash-tag-links-padding/ */
/*.container.body::before { 
  display: block; 
  content: " "; 
  margin-top: -7rem; 
  height: 7rem; 
  visibility: hidden; 
  pointer-events: none;
}*/